venv/
*.env
.env
.venv
file_tree.txt

__pycache__/
*.py[cod]
*$py.class

*.secret
secrets.json
config.json

*.log

.vscode/
.idea/
*.swp
*.swo
*~

static/
staticfiles/

dist/
build/
*.egg-info/

.ipynb_checkpoints

.DS_Store
Thumbs.db

*.tmp